<header class="main-header">
    <nav class="main-nav">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="/">Shop</a>
            </li>
            <li class="nav-item">
                <a href="/products">Products</a>
            </li>
            <li class="nav-item">
                <a href="/cart">Cart</a>
            </li>
            <li class="nav-item">
                <a href="/order">Orders</a>
            </li>
            <li class="nav-item">
                <a href="/admin/add-product">Add Product</a>
            </li>
            <li class="nav-item">
                <a href="/admin/products">Admin Products</a>
            </li>
        </ul>
    </nav>
</header>